*{
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    
}
.logo{
    width: 200px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #0098cf;
    position: sticky;
    top: 0;
    z-index: 999;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
}
.navbar li a:hover{
    color: #0192c7;
    transition: 0.5s;
}
.navbar li a:hover,
.navbar li a.active{color: #ffb671;}

.section1{
    background-image: url(image/cover2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: right;
}
.section1 h4{ 
    font-size: 40px;
    font-weight: 500;
    margin-bottom: -10px;
}
.section1 h2{
    font-size: 70px; color: #ffb671;
}
.section1 h1{
    font-size: 50px;
}
p   {
    font-size: 20px; color: #ffe0c3;
}
.herobutton{
    padding: 15px 30px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #ffe0c3;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.herobutton:hover{
    background-color: #ffe0c3; 
    transition: 0.5s; 
    cursor: pointer; 
    color: rgb(92, 92, 92);
}
.mito{
    margin: 300px 200px;
}
.shopping{ text-align: center;
         padding: 30px; 
         margin: 30px 0px;
}
.shopp{
    color: rgb(53, 53, 53);
    font-size: 16px;
}
.shoph{
    Color:rgb(53, 53, 53);
    font-size: 40px;
}

.section2{
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 510px);
    margin-left: 180px;
    
    grid-gap: 20px;
}
.buynow{
    padding: 20px 50px;
    background-color: #0192c7;
    border: none;
    color: aliceblue;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    margin: 170px 170px;
    cursor: pointer;
    transition: 0.3s;
    
    
}
.buynow:hover{ background-color: black; }
.buy{
    border: 2px solid rgb(53, 53, 53);
}
